django==2.0.6   
djangorestframework==3.8.2
django-configurations==2.0
pytest==3.4.2
pytest-django==3.1.2
mock==2.0.0
simplejson==3.13.2
django_rest_swagger==2.1.2
factory-boy==2.10.0
djangorestframework-simplejwt==3.2.3